:root {
    --text-color: #000000;
    --fontFam: Consolas;
    --primaryBackgroundColor: #ffffff;
    --accentBackgroundColor: #f8f9f9;
}

body {
    font-family: var(--fontFam);
    background-color: var(--accentBackgroundColor);
    flex-wrap: wrap-reverse;
    align-items: center;
    padding-top: 10%;
}

h1 {
    font-size: 6.5em;
    font-family: var(--fontFam);
    display: flex;
    justify-content: center;
    margin: 5px;
}

.subheading {
    font-family: var(--fontFam);
    display: flex;
    justify-content: center;
    font-size: 2.5em;
    margin: 20px;
}

.normalText {
    font-family: var(--fontFam);
    display: flex;
    justify-content: center;
    font-size: 1em;
}